@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

::-moz-selection {
  color: #fff;
  background: #19335e;
}

::selection {
  color: #fff;
  background: #19335e;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

body {
  position: relative !important;
  font-family: "Sora", sans-serif;
  padding: 0 20px;
  box-sizing: border-box;
  overflow-x: hidden;
  color: #000;
}

main {
  max-width: 1280px;
  width: 1280px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #000;
}

h1 {
  font-size: 50px;
  margin: 0 0 20px 0;
}

h2,
h3 {
  font-size: 30px;
  margin: 0 0 20px 0;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

@media (max-width: 768px) {
  body {
    padding: 0 25px;
  }
  p {
    font-size: 17px;
  }
}
